<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>apifugasydirecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">apifugasydirecciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let r of regiones">
      <ion-label>{{ r.name }}</ion-label>
      <ion-note slot="end">{{ r.roman_numeral }}</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Seleccione una región</ion-label>
      <ion-select [(ngModel)]="selectedRegionId" (ionChange)="filterDireccionesByRegion()">
        <ion-select-option *ngFor="let r of regiones" [value]="r.id">{{ r.name }}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="selectedRegionId !== 0">
      <ion-label>Direcciones:</ion-label>
      <ion-list>
        <ion-item *ngFor="let direccion of filteredDirecciones">{{ direccion }}</ion-item>
      </ion-list>
    </ion-item>
  </ion-list>
</ion-content>




