<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacto y Colaboración
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-content>
      <p>
        Gracias por tu interés en contactarte o colaborar con nosotros. Por favor, completa el siguiente formulario y nos pondremos en contacto contigo lo antes posible.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Formulario de Contacto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input type="text" placeholder="Ingresa tu nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo Electrónico</ion-label>
          <ion-input type="email" placeholder="Ingresa tu correo electrónico"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Mensaje</ion-label>
          <ion-textarea rows="4" placeholder="Escribe tu mensaje"></ion-textarea>
        </ion-item>
      </ion-list>

      <ion-button expand="block" (click)="submitForm()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
